.link {
  align-items: center;
  background-color: transparent;
  border-radius: 40px;
  box-sizing: border-box;
  color: var(--colors-button-inactive);
  cursor: pointer;
  display: flex;
  margin: 0;
  outline: none;
  text-decoration: none;
  transition: color .25s ease, opacity .25s ease, transform .25s ease;
  white-space: nowrap;
}

.link:hover {
  opacity: .8;
}

.link:focus {
  transform: scale(1.1);
  opacity: .8;
}

.link_active {
  color: var(--text-primary-color);
}

.link_active:hover {
  cursor: default;
  opacity: 1;
}

.link_active:focus {
  transform: scale(1);
  opacity: 1;
}